<a href="https://colab.research.google.com/github/Joezxc/Additional-Exercise/blob/main/Oct_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#get 2 numbers from the user
print('Enter 2 numbers:')
a=int(input())
b=int(input())

# calculate and print
print('the addition of '+str(a)+' and'+str(b)+' is '+str(a+b))
print('the multiplication of '+str(a)+' and '+str(b)+' is '+str(a*b))
print('the division of '+str(a)+' and'+str(b)+' is '+str(a/b))
print('the modulus of '+str(a)+' and'+str(b)+' is '+str(a%b))
print('the power of '+str(a)+'and'+str(b)+' is '+str(a**b))

Enter 2 numbers:

In [ ]:
t = 5
u = 7
print('t and u is',t and u)
print('t and u is',t or u)
print('t and u is',t not u)

In [ ]:
x1 = 6 
y1 = 6
x2 = 'Hola'
y2 = 'Hola'
x3 = [1,2,3]
y3 =  [1,2,3]
# Output: False
print(x1 is not y1)
# Output: True
print(x2 is y2)
# Output: False
print(x3 is y3)

In [ ]:
age = 20
if age >=  19
 print('You are old enough to vote' )

In [ ]:
age = 19
 if: age >=20
 print("You are old enough to vote")
 else:
   #Executes if false
   print("Sorry, you are too young to vote")

In [ ]:
from re import X
from re import X
#Declares two numbers in two variables
x, y = 20, 30
# Copy value of a in min if a < b else copy b
min=x
if x<y
 min=x

In [ ]:
print('Enter your age')
age= int(input())

if age < 6:
  print("Your admission cost is $0")
elif age < 20:
  print("Your admission cost is $25")
else:
  print("Your admission cost is $40")

In [ ]:
# Declare two variables named a and b and
x = 27
y = 30
list = [10, 20, 30, 40, 50]
if (a not in list):
  print('a is NOT present in given list")
  # 27 is not in the sequence so it print
else: 
  print('a is in list')

  if(b in list)
    print(b is present in given list)
      # 30 is not in the sequence so it print
else:
  print('b is not in list')

In [ ]:
a = Giannis
b = LeBron
list = [Giannis, Luka, Joel, Jokic
        if (a is not in list)

In [ ]:
names = ['Giannis' , 'Luka' , 'Stephen']
print("My favorite star," + names [0].title() + "!")
print("My favorite star," + names [1].title() + "!")
print("My favorite star," + names [2].title() + "!")

In [ ]:
names = ['Toyota' , 'Mercedes' , 'Mitsubishi' , '']